/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap");
/* common shared styles */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Work Sans", sans-serif;
}
.marginAuto {
  max-width: 1442px;
  margin: 0px auto;
}
.g {
  color: #ff42a5;
}
.logoText {
  font-size: 45px;
  font-weight: 700;
}

.bannerBtn {
  border: none;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 40px;
}

.gradientText {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marginTop {
  margin-top: 120px;
}

.contentTitle {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.contentDesc {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0px 48px;
}
/* nav start */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.container {
  padding-top: 37px;
  padding-bottom: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logoBlock .logo {
  width: 86.041px;
  height: 40px;
}
.menu a {
  text-decoration: none;
  color: #3c354f;
  margin-left: 32px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.menuBtn {
  width: 262px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
}
.items {
  margin-left: 16px;
}

/* banner start */
#banner {
  background-image: url("../images/bannerBG.png");
  background-repeat: no-repeat;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerText1 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.bannerText2 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.bannerImg img {
  width: 650px;
}
.bannerIcon {
  width: 24px;
  height: 24px;
}
.bannerIconText {
  color: #534c64;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.bannerTI {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 17px;
  margin-left: 10px;
}
.lastChildB {
  margin-bottom: 41px;
}
.signInBtn {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-right: 24px;
}
.goRogueBtn {
  background: #4ec5f7;
}

/* Online Game section start */
.onlineGameContainer {
  text-align: center;
}
.onlineGameImgs {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.gameDiv {
  width: 342px;
}
.onlineGameBgImg {
  width: 342px;
  height: 400px;
  border-radius: 16px;
  margin-bottom: 24px;
  position: relative;
}
.content {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
}

.content:hover {
  opacity: 1;
  border: 2px solid #ff42a5;
}
.onlineGameBgImg p {
  color: #ff42a5;
  font-size: 20px;
  font-weight: 600;
}
.onlineImg {
  width: 342px;
  height: 400px;
}
.onlineImgTxt {
  text-align: left;
}

/* play instantly start */
.flotingPart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 256px;
}
.flotingPartContent {
  width: 353px;
  text-align: right;
}
.flotingPartImges {
  position: relative;
}
.bigImg {
  width: 634.833px;
  height: 650px;
  border-radius: 8px;
}
.smallImg {
  border-radius: 8px;
  width: 318.5px;
  height: 365.083px;
}
.floatImg {
  top: 360px;
  right: 461px;
  position: absolute;
}

/* playGames section start */
.playGamesContainer {
  margin-top: 196px;
  margin-bottom: 243px;
  flex-direction: row-reverse;
}

.playGamesContainer .flotingPartContent {
  text-align: left;
}
.playGamesContainer .floatImg {
  left: 461px;
}

/* .playGamesContainer .flotingPartContent {
  width: 426px;
} */
.playGamesContainer .flotingPartContent p {
  width: 483px;
}
/* typeOfGames section start */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 27px;
  padding: 0px 60px;
}
.button {
  padding: 5px 10px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  border: none;
  background: #fff;
}
.button:hover {
  border: 2px solid #f948b2;
  /* border-color: #F948B2; */
}
.button p {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}
.button img {
  width: 60px;
  height: 60px;
}
footer {
  background: #0b0223;
}

.footerContainer .logoBlock h3 {
  color: #ffffff;
}
.footerContainer {
  padding: 120px 0px;
  text-align: center;
}
.aboutSection {
  margin: 56px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.aboutSection a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.socialMedia a {
  text-decoration: none;
}
.socialMedia a > i {
  font-size: 40px;
  /* font-size: 50px; */
}
.fa-facebook {
  border-radius: 50%;
}
.you {
  width: 57.13px;
  height: 40px;
}
.privacy {
  margin-top: 74px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.privacy a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.copyRight p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

/* responsivenes */
@media screen and (max-width: 576px) {
  /* nav start */
  .container {
    padding-top: 103px;
    flex-direction: column;
  }
  nav {
    box-shadow: none;
  }
  .logoBlock .logo {
    width: 70px;
    height: 30px;
  }
  .logoText {
    font-size: 40px;
    /* font-weight: 700; */
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logoBlock {
    margin-bottom: 62px;
  }
  .menu a {
    margin-bottom: 36px;
    margin-left: 0px;
  }
  .menuBtn {
    margin-top: 62px;
    padding: 17px 16px;
  }
  /* banner start */
  #banner {
    background-image: none;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 78px; */
  }
  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/bannerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
  }
  .bannerText1 {
    font-size: 1.7rem;
  }
  .bannerText2 {
    font-size: 3.5rem;
  }
  .bannerTI {
    padding-left: 50px;
  }
  .lastChildB {
    margin-bottom: 25px;
  }
  .bannerIconText {
    font-size: 14px;
  }
  .bannerBtn {
    font-size: 15px;
    padding: 15px 25px;
    margin-right: 15px;
  }
  .btns {
    padding-left: 50px;
  }
  .bannerImg img {
    width: 70%;
  }
  /* onlineGames start */
  .contentTitle {
    font-size: 25px;
  }
  .contentDesc {
    font-size: 12px;
    margin-bottom: 40px;
  }
  .onlineGameImgs {
    flex-direction: column;
    align-items: center;
  }
  .onlineImg {
  }
  .onlineImgTxt {
    font-size: 12px;
    text-align: center;
  }

  /* playInstantly start */
  .playInstantlyContainer {
    margin-top: 50px;
  }
  .flotingPart {
    flex-direction: column;
    gap: 0px;
  }
  .flotingPartContent {
    width: 320px;
    text-align: center;
  }
  /* .flotingPartContent h3{
    width: 290px;
  } */
  .bigImg {
    width: 200px;
    height: 220px;
  }
  .smallImg {
    width: 100px;
    height: 120px;
  }
  .floatImg {
    top: 150px;
    right: 140px;
    position: absolute;
  }
  /* playGamesContainer start */
  .playGamesContainer .flotingPartContent {
    width: 320px;
    text-align: center;
  }

  .playGamesContainer .flotingPartContent p {
    width: 320px;
  }
  .playGamesContainer .floatImg {
    left: 140px;
  }
  .playGamesContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .typeOfGamesContainer {
    margin-top: 0px;
  }

  /* types start */
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    /* display: flex; */
    /* justify-content: start; */
  }
  .button {
    gap: 5px;
  }
  .button img {
    width: 30px;
    height: 30px;
  }
  .button p {
    font-size: 10px;
  }
  #footerContainer {
    margin-top: 100px;
  }
  .footerContainer {
    padding: 50px 0px;
  }
  .logoBlock {
    margin-bottom: 10px;
  }
  .logoBlock .logo {
    width: 40px;
    height: 20px;
  }
  .logoBlock h3 {
    font-size: 25px;
  }
  .aboutSection {
    flex-wrap: wrap;
    gap: 50px;
  }
  .socialMedia {
    flex-wrap: wrap;
    padding: 0px 70px;
  }
  .socialMedia > a {
    font-size: 20px;
  }
  .privacy{
    flex-wrap: wrap;
    gap: 70px;
  }
  .copyRight{
    width: 300px;
    margin: 0px auto;
  }
}
